<div class="registration-page">
  <div class="registration-form_container">
    <img src="assets/images/CheapAndTasty.svg" alt="logo" class="registration-form_logo">
    <h1>Please Register!</h1>
    <p class="registration-form_error-message">{{errorMessage}}</p>
    <form class="registration-form" [formGroup]="registrationForm">
      <div class="registration-form_flex">
        <div class="registration-form_flex-top">
          <!-- id start-->
          <div class="registration-form_form-group">
            <label for="userName">Username</label>
            <input type="text" formControlName="userName" autocomplete="off">
            <p *ngIf="!validateRequired('userName')" class="registration-form_error-message">
              Enter Username!
            </p>
          </div>
          <!-- id end-->
          <!-- phone start-->
          <div class="registration-form_form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" formControlName="phoneNumber" autocomplete="off">
            <p *ngIf="!validateRequired('phoneNumber')" class="registration-form_error-message">
              Enter Phone Number!
            </p>
            <p *ngIf="!validatePattern('phoneNumber')" class="registration-form_error-message">
              Enter Correct Phone Number!
            </p>
          </div>
          <!-- phone end-->
        </div>
        <div class="row" style="display:flex;">
          <div class="registration-form_flex-bottom">
            <!-- password start-->
            <div class="registration-form_form-group">
              <label for="password">Password</label>
              <input type="password" formControlName="password" autocomplete="off">
              <p *ngIf="!validateRequired('password')" class="registration-form_error-message">
                Enter Password!
              </p>
              <p *ngIf="!validatePattern('password')" class="registration-form_error-message">
                Password must contain at least 6 numbers <br> and one capital letter!
              </p>
            </div>
          </div>
          <div class="registration-form_flex-bottom">
            <!-- password start-->
            <div class="registration-form_form-group">
              <label for="firstName">First Name</label>
              <input type="firstName" formControlName="firstName" autocomplete="off">
              <p *ngIf="!validateRequired('firstName')" class="registration-form_error-message">
                Enter Your First Name!
              </p>
            </div>
          </div>
        </div>
        <div class="row" style="display:flex;">
          <div class="registration-form_flex-bottom">
            <!-- password start-->
            <div class="registration-form_form-group">
              <label for="lastName">Last Name</label>
              <input type="lastName" formControlName="lastName" autocomplete="off">
              <p *ngIf="!validateRequired('lastName')" class="registration-form_error-message">
                Enter Your Last Name!
              </p>
            </div>
          </div>
          <div class="registration-form_flex-bottom">
            <!-- password start-->
            <div class="registration-form_form-group">
              <label for="address">Address</label>
              <input type="address" formControlName="address" autocomplete="off">
              <p *ngIf="!validateRequired('address')" class="registration-form_error-message">
                Enter Your Address!
              </p>
            </div>
          </div>
        </div>

      </div>
      <button type="submit" (click)="signUp()">Davam et</button>
      <p class="registration-form_login">
        Do You Have an Account? <a routerLink="/login" class="registration-form_login-link">
          Signin.
        </a>
      </p>
    </form>
  </div>
</div>
