<div class="category-wrapper">
  <div class="header">
    <h2>Ingredients</h2>
  </div>
  <div class="create">
    <button (click)="CreateIngredient()">Create Category</button>
  </div>
  <div class="create-block" *ngIf="disable">
    <div class="inputs">
      <div class="name">
        <p>Ingredient Name</p>
        <input type="text" [(ngModel)]="IngredientRequest.name">
      </div>
      <div class="price">
        <p>Ingredient Price</p>
        <input type="text" [(ngModel)]="IngredientRequest.price">
      </div>
    </div>

    <div class="image">
      <input type="file" name="upload" id="upload" class="upload-box" accept="image/*" (change)="handleUpload($event)" >
      <label for="upload">Choose Photo</label>
    </div>
    <button class="saveButton" (click)="SaveIngredient()">{{buttonName}}</button>
  </div>

  <div class="list">
    <h3>Created Ingredients</h3>
    <div class="ingredient-item" *ngFor="let item of Ingredients">
      <div class="item-image">
        <img src="{{item.imageURL}}" alt="">
      </div>
      <div class="info-block">
        <div class="name-price">
          <p style="margin-right:10px ;">{{item.name}},</p>
          <p>{{item.price}} GEL</p>
        </div>
        <div class="actions">
          <div class="edit"  (click)="editCategory(item)"><img src="assets/images/pencil.svg" alt=""></div>
          <div class="delete" style="cursor: pointer" (click)="deleteCategory(item.id)"><img src="assets/images/delete.svg" alt=""></div>
        </div>
      </div>

    </div>
  </div>
</div>
