h2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #1A1A1A;
}
.create button{
  width: 230px;
height: 50px;
left: 337px;
top: 213px;
margin-top: 30px;
background: #4cd07d;
border-radius: 8px;
border: none;outline: none;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
text-align: center;

color: #323232;


}
.create-block{
  width: 100%;
  display:flex;
  flex-direction: column;
}
.create-block p{
  margin-top: 30px;
font-style: normal;
font-weight: 500;
font-size: 16px;
margin-bottom: 10px;
line-height: 19px;

color: #333333;
}
.create-block div{
  width: 32%;
}
.create-block .inputs{
  display: flex;
  width: 100%;
}
.create-block .inputs .name{
  margin-right: 15px;
}
.create-block input{
  width: 100%;
height: 44px;
left: 337px;
top: 149px;
padding:8px;
background: #FFFFFF;
border: 1px solid #7B8689;
border-radius: 8px;
}
.create-block button{
  width: 400px;
height: 50px;
left: 337px;
top: 213px;
margin-top: 20px;
border:none;
outline:none;
background: #FDCB47;
border-radius: 8px;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #323232;

}
.image {
  width: 32%;
  margin-right: 15px;
  margin-top: 20px;
}
.image input[type="file"]{
  display: none;
}
.image label{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #FDCB47;
    border-radius: 8px;
}

.list h3{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */
margin-top: 45px;

color: #1A1A1A;
}
.list .item-image img{
  width: 168px;
height: 120px;
border-radius: 8px;
margin-right: 15px;
}

.list .ingredient-item{
  height: 120px;
  margin-top: 21px;
  display: flex;
}
.name-price{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #333333;
display:flex;
}
.info-block{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-block .actions{
  display: flex;
  align-items:center
}
.info-block .actions .edit{
  margin-right: 10px;
  cursor: pointer;
  height: 30px;
}
.info-block .actions .edit img{
  height: 30px;
}
.info-block .actions .delete{
  cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e7e7e7;
    border-radius: 5px;

}
