
.logout{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.logout button{
  width: 85px;
  height: 35px;
  background: #7B8689;
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
}
.logout button:hover{
  background: #595d5e;
}
.main-wrapper{
  display: flex;
  width: 100%;
}
.productList{
  width: calc(100% - 480px);
  padding: 45px 65px 0 65px;
}
.logo{
  margin-bottom: 35px;
}
.loginForm{
  width: 480px;
  background: #dfdfdf;
  height: 100vh;
    position: fixed;
    right: 0;
overflow-y: auto;
}
.loginForm::-webkit-scrollbar {
  width: 2px !important;
}
.login-page{
  width: 100% !important;
}
.haveNoOrders{
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.haveNoOrders h3{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 20px;

color: #747474;
}
