<div class="created-dishes">
  <div class="header">
    <h3>Created Dishes</h3>
  </div>
  <div class="item" *ngFor="let item of Dishes" style="display:flex;">
    <div class="images">
      <img src="{{item.imageURL}}" alt="">
    </div>
    <div class="block">
      <div class="name-price">
        <p style="margin-right:15px;">{{item.name}},</p>
        <p>  {{item.price}}GEL</p>
      </div>
      <div class="description">
        <p>{{item.description}}</p>
      </div>
      <div class="ingredients">
        <p style="margin-right:5px; font-style:italic;" *ngFor="let ingred of item.ingredients">{{ingred.ingredient.name}}, </p>
      </div>
      <div class="actions">
        <div class="edit"  (click)="editCategory(item)"><img src="assets/images/pencil.svg" alt=""></div>
        <div class="delete" style="cursor: pointer" (click)="deleteCategory(item.id)"><img src="assets/images/delete.svg" alt=""></div>
      </div>
    </div>
    </div>



</div>
