<div class="main-wrapper">
  <div class="productList">
    <div class="logo">
      <img src="assets/images/CheapAndTasty.svg" alt="">
    </div>
    <div class="banner">
      <img src="assets/images/banner.png" alt="">
    </div>
    <div class="filters-and-categories">
      <div class="categories">
        <div class="categoryItem"><p>All</p></div>
        <div class="categoryItem"><p>All</p></div>
        <div class="categoryItem"><p>All</p></div>
      </div>
      <div class="filters">
        <div class="filterItem">
          <p>Price</p>
          <div class="filterBox">
            <!-- <input type="number"> -->
          </div>
        </div>
      </div>
    </div>
    <div class="products">
      <div class="productItem">
        <div class="img"><img src="assets/images/burger.png" alt=""></div>
        <div class="productInfo">
          <div class="name-price">
            <p>Burger</p>
            <p>$19.90</p>
          </div>
          <div class="link">
            <a href="">Watch Video</a>
          </div>
        </div>
      </div>
      <div class="productItem">
        <div class="img"><img src="assets/images/burger.png" alt=""></div>
        <div class="productInfo">
          <div class="name-price">
            <p>Burger</p>
            <p>$19.90</p>
          </div>
          <div class="link">
            <a href="">Watch Video</a>
          </div>
        </div>
      </div>
      <div class="productItem">
        <div class="img"><img src="assets/images/burger.png" alt=""></div>
        <div class="productInfo">
          <div class="name-price">
            <p>Burger</p>
            <p>$19.90</p>
          </div>
          <div class="link">
            <a href="">Watch Video</a>
          </div>
        </div>
      </div>
      <div class="productItem">
        <div class="img"><img src="assets/images/burger.png" alt=""></div>
        <div class="productInfo">
          <div class="name-price">
            <p>Burger</p>
            <p>$19.90</p>
          </div>
          <div class="link">
            <a href="">Watch Video</a>
          </div>
        </div>
      </div>
      <div class="productItem">
        <div class="img"><img src="assets/images/burger.png" alt=""></div>
        <div class="productInfo">
          <div class="name-price">
            <p>Burger</p>
            <p>$19.90</p>
          </div>
          <div class="link">
            <a href="">Watch Video</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="loginForm">
    <!-- <app-login></app-login> -->
  </div>
</div>
