.admin-wrapper{
  height:100vh;
  display:flex;
}
.admin-nav-bar{
  width:240px;
  background: #EAEDF2;
  position: fixed;
  height:100vh
}
.admin-pages{
  width: calc(100% - 240px);
  padding-left: 60px;
  padding-top: 60px;
  position: absolute;
  right: 0;
}
