<div class="cart-info">
  <h3 class="heading">My Orders</h3>
  <div class="address">
    <p>Delivery address</p>
    <h4>1341 Morris Street</h4>
  </div>
  <div class="cartItemList">
    <div class="item" *ngFor="let item of cartResponse.cartItems">
      <div class="row">
        <p class="name">{{item.name}}</p>
        <p class="name">{{item.qty}}</p>
        <div class="delete" (click)="removeCartItem(item)" style="cursor: pointer"><img src="assets/images/delete.svg" alt=""></div>
      </div>
      <p class="price">{{item.price}}$</p>
    </div>
  </div>
  <div class="line"></div>
  <div class="totals">
    <div class="row"><p>Sub Total</p> <p class="price">{{cartResponse.totalPrice}}</p></div>
    <div class="row"><p>Delivery</p> <p class="price">2 GEL</p></div>
  </div>
  <div class="line"></div>
  <div class="last-total">
    <div class="row"><p>Total</p><p class="price">{{totalPrice}} GEL</p></div>
  </div>
</div>
