
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #eb1c2d;
  --primary-hover: hsl(355, 82%, 47%);
  --border-grey: #e7edef;
  --text-grey: rgba(51, 51, 51, 0.5);
  --text-primary-dark: #1a1a1a;
  --text-secondary-dark: #333333;
  --green: #91c197;
  --green-saturated: #effcef;
  --yellow: #f9b410;
  --yellow-saturated: #feefd0;
  --blue-saturated: #ecfbff;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
background-color: #FBFBFB;
}

@font-face {
  src: url('../src/assets/fonts/Lato-Regular.ttf');
  font-family: Lato-Regular;
}

@font-face {
  src: url('../src/assets/fonts/Lato-Medium.ttf');
  font-family: Lato-Medium;
}

@font-face {
  src: url('../src/assets/fonts/Lato-Bold.ttf');
  font-family: Lato-Bold;
}

body {
  font-family: Lato-Medium !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
background-color: #EE4855 !important;
}

.mat-tab-label, .mat-tab-link {
font-family: Lato-Medium !important;
color: #333 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table{
  margin-top: 60px;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  border-color: #EEF2FF !important;
  color: #fff !important;
  border-radius: 5px;
  outline: none !important;
  background: #FDCB47 !important;
}
.p-datatable .p-paginator-bottom{
  justify-content: end !important;
}
.p-paginator .p-paginator-pages .p-paginator-page:active {
  border: none !important;
  outline: none !important;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight:active {
  border: none !important;
  outline: none !important;
}

.p-paginator .p-paginator-pages .p-paginator-page:hover {
  border-radius: 5px;
}

.p-datatable .p-datatable-tbody > tr > td {
  font-size: 16px;
  line-height: 14px;
  color: rgba(26, 26, 26, 0.9);
}
.p-datatable .p-datatable-thead > tr > th{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  background:#fff !important;
}
.p-datatable .p-sortable-column.p-highlight {
  background: #f8f9fa !important;
  color: #FDCB47 !important;
  outline: none !important;
}

  .p-datatable .p-sortable-column.p-highlight:active {
    outline: none !important;
  }

.p-datatable .p-sortable-column:focus {
  box-shadow: none !important;
  outline: 0 none;
}
/* .p-datatable .p-sortable-column.p-highlight: */
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: #FDCB47!important;
}
iframe{
  border-radius:10px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cdk-global-overlay-wrapper{
  justify-content: center;
    align-items: center;
    /* background: red; */
    position: absolute;
    /* right: 0; */
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    overflow-y: hidden;
    background: #00000042;
    pointer-events: auto;
    display: flex;
    -webkit-tap-highlight-color: transparent;
    transition: opacity .4s cubic-bezier(.25,.8,.25,1);
    /* opacity: 0; */
    align-items: center;
    justify-content: center;
}
.cdk-overlay-pane{

  background: #fff;
  border-radius: 12px;
}
.mat-dialog-container{
  padding:0 !important;
}
.dialog .header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #FDCB47;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.dialog .header button{
  width: 20px;
    height: 20px;
    background: none;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dialog .header button img{
  width: 8px;
}
